label {
    font-family: 'Roboto', sans-serif;
    display: block;
    margin-top: 5vh;
    margin-left: 10vw;
}

input {
    font-family: 'Roboto', sans-serif;
    display: block;
    border-radius: 0%;
    border: 0.5px solid;
    margin-top: 2vh;
    margin-left: 10vw;

}

.inputNormal {
    height: 5vh;
    width: 30vw;
}


textarea {
    margin-left: 10vw;
    padding: 10px;
    max-width: 100%;
    line-height: 1.5;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 1px #999;
}

legend {
    font-family: 'Roboto', sans-serif;
    margin-left: 10vw;
    margin-top: 5vh;
}

input[type=submit] {
    font-family: 'Roboto', sans-serif;
    border-radius: 5%;
    background-color: orange;
    color: white;
    margin-left: 10vw;
    height: 7vh;
    width: 20vw;
    margin-bottom: 5vh;
}

.escolha {
    font-family: 'Roboto', sans-serif;
    border: 1px solid black;
    margin-left: 10vw;
    margin-top: 2vh;
}